/* Active link styles */
.active {
    color: #e11d48;
    font-weight: bold;
    letter-spacing: 1px;
    border: 2px solid #e11d48;
    padding: 4px 8px;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    background-color: #ee838b;
}

.active:hover {
    color: #9b1c2f;
    background-color: #ffe4e6;
    border-color: #9b1c2f;
    text-decoration-thickness: 3px;
}

/* Navbar link styles */
.menu a {
    color: #e11d48;
    padding: 4px 8px;
    border: 2px solid transparent;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}

.menu a:hover {
    color: #e11d48; 
    border-color: #e11d48;
    background-color: #ffe4e6;
}

/* 🌙 Dark Mode */
body.dark {
    background-color: #1a202c !important;
    color: #e11d48 !important;
}

body.dark .navbar {
    background-color: #2d3748 !important;
}

body.dark .menu a:hover {
    color: #e11d48 !important;
    border-color: #e11d48 !important;
    background-color: #ffe4e6 !important;
}
